[submodule "bubbles-engine"]
	path = bubbles-engine
	url = git@github.com:cryptoneedle/bubbles-engine.git
[submodule "bubbles-platform"]
	path = bubbles-platform
	url = git@github.com:cryptoneedle/bubbles-platform.git
[submodule "bubbles-app"]
	path = bubbles-app
	url = git@github.com:cryptoneedle/bubbles-app.git
